@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
body{
    background-color: whitesmoke;
    font-family: 'PT Sans Narrow', sans-serif;
}
.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  background-color:darkseagreen;
  border-radius: 10px;
}

h1 {
  color: #333;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  font-family: 'PT Sans Narrow', sans-serif;
  border-radius: 7px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'PT Sans Narrow', sans-serif;
  border-radius: 7px;
}

#results {
  margin-top: 20px;
  text-align: left;
}

.movie {
  min-height: 200px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.movie img {
  width: 100px;
  float: left;
  margin-right: 10px;
}

.movie h2 {
  font-size: 18px;
  margin-top: 0;
}

.movie p {
  margin: 5px 0;
}
